*.csv
tmp.sql
**/script.log
**/*.pbix

# Ignore Python cache files
**/__pycache__/
**/*.pyc
SQLscripts/.vs/slnx.sqlite
SQLscripts/.vs/VSWorkspaceState.json
SQLscripts/.vs/SQLscripts/v15/.ssms_suo
AdventureWorks-SSIS-ETL/obj/Development/BuildLog.xml
